@{
  Layout = "_Layout";
}

@model PROJECTNAME.Models.PARENT

<h2>Edit</h2>

<h4>Edit this PARENT: @Html.DisplayFor(model => model.PARENTName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PARENTId)

    @Html.LabelFor(model => model.PARENTName)
    @Html.EditorFor(model => model.PARENTName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to PARENTs", "Index")</p>